pandas==0.24.2
tqdm==4.31.1
ascii-graph==1.5.1
wrapt==1.10.11
librosa==0.6.0
toml
soundfile
ipdb
sox
nnAudio
pydub
unidecode
inflect
ruamel.yaml
more_itertools
audiomentations
sounddevice
tensorboard
youtokentome==1.0.6
onnxruntime
opencv-python
python-telegram-bot
mutagen
SpeechRecognition
